{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                
                {% if 'search' in request.path %}
                <h1>SEARCH RESULTS</h1>
            {% else %}
            <h1>SHOP  STORE</h1>
            {% endif %}
               
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner"><a href="#"><img src="assets/images/banner/banner-15.jpg" alt="Banner"></a></div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner"><a href="#"><img src="assets/images/banner/banner-14.jpg" alt="Banner"></a></div>
        </div>

    </div>
</div>
<!-- Product Section Start -->
<div class="product-section section mt-90 mb-90">
    <div class="container">
        <div class="row">
           
            <div class="col-12">
                
                <div class="row mb-50">
                    <div class="col">
                       
                        <!-- Shop Top Bar Start -->
                        <div class="shop-top-bar">

                            <!-- Product View Mode -->
                            <div class="product-view-mode">
                                <a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
                                <a href="#" data-target="list"><i class="fa fa-list"></i></a>
                            </div>

                            <!-- Product Showing -->
                            

                            <!-- Product Short -->
                            <div class="product-short">
                                <p>Categories</p>
                                <select name="sortby" class="nice-select">
                                    <option value="trending">All Products</option>
                                    {% for category in links %}
                                    <option value="{{ category.category_name }}"><a href="{{ category.get_url }}">{{ category.category_name }}  </a></option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Product Pages -->
                            <div class="product-pages">
                                <p>{{ product_count }}</p>
                            </div>

                        </div><!-- Shop Top Bar End -->
                        
                    </div>
                </div>
                
                <!-- Shop Product Wrap Start -->
                <!-- Shop Product Wrap Start -->
                <div class="shop-product-wrap grid row">
                    {% if products %}
	              {% for product in products %}  
                    
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
                       
                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="{{ product.get_url }}" class="img"><img src="{{ product.images.url }}" alt="Product Image"></a>

                                

                                

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="{{ category.get_url }}" class="cat">{{ product.category }}</a>
                                    <h5 class="title"><a href="{{product.get_url}}">{{ product.product_name }}</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">{{ product.price }}</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div><!-- Product End -->
                        
                        <!-- Product List Start -->
                        <div class="ee-product-list">

                            <!-- Image -->
                            <div class="image">

                                <a href="{{ product.get_url }}" class="img"><img src="{{ product.images.url }}" alt="Product Image"></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="head-content">

                                    <div class="category-title">
                                        <a href="{{ category.get_url }}" class="cat">{{ product.category }}</a>
                                        <h5 class="title"><a href="{{ product.get_url }}">{{ product.product_name }}</a></h5>
                                    </div>
                                    
                                    <h5 class="price">{{ product.price }}</h5>

                                </div>
                                
                                <div class="left-content">
                                   
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    
                                    <div class="desc">
                                        <p>{{ product.description}}</p>
                                    </div>
                                    
                                    <div class="actions">

                                        

                                        <div class="wishlist-compare">
                                            <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                            <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Specifications</h5>
                                        <ul>
                                            <li>Intel Core i7 Processor</li>
                                            <li>Zeon Z 170 Pro Motherboad</li>
                                            <li>16 GB RAM</li>
                                        </ul>
                                    </div>
                                    <span class="availability">Availability: <span>In Stock</span></span>
                                </div>

                            </div>

                        </div><!-- Product List End -->
                        
                    </div>
                    {% endfor %}
	{% else %}
	<div>
		<h2>No result found. Please try again.</h2>
	</div>
	{% endif %}

                   
                    
                </div>
                <div class="row mt-30">
                    <div class="col">

                <nav class="mt-4" aria-label="Page navigation sample">
                    {% if products.has_other_pages %}
                      <ul class="pagination">
                            {% if products.has_previous %}
                        <li class="page-item"><a class="fa fa-angle-left" href="?page={{products.previous_page_number}}">Previous</a></li>
                            {% else %}
                            <li class="page-item disabled"><a class="fa fa-angle-left" href="#">Previous</a></li>
                            {% endif %}
                
                            {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                        {% endfor %}
                
                            {% if products.has_next %}
                            <li class="page-item"><a class="fa fa-angle-right" href="?page={{products.next_page_number}}">Next</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="fa fa-angle-right" href="#">Next</a></li>
                            {% endif %}
                      </ul>
                    {% endif %}
                </nav>
                
                
                       
                        
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div><!-- Feature Product Section End -->

{% endblock %}
